<div class="head">
    <div class="logo">
        <img src="/images/studylogo.webp" alt="logo" width="50" height="50">
        <span id="text1">Maxxstudy</span>
    </div>
    <div class="nav">
        <p><a href="/" class="<%= page === 'home' ? 'active' : '' %>">Home</a></p>
        <p><a href="/features" class="<%= page === 'features' ? 'active' : '' %>">Features</a></p>
        <p><a href="/pricing" class="<%= page === 'pricing' ? 'active' : '' %>">Pricing</a></p>
        <p><a href="/about" class="<%= page === 'about' ? 'active' : '' %>">About</a></p>
    </div>
    <div class="contact">
        <button><a href="mailto:madhabpadhi72@gmail.com">Contact us</a></button>
    </div>
</div>